body {
    margin: 0;
}

path, line {
  fill: none;
  stroke: #888;
  shape-rendering: crispEdges;
}

text {
    font-family: avenir, sans-serif;
    not &.draggerHoriz {
        cursor: default;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .component & {
        fill: white;
        text-anchor: middle;
    }
}

tspan.sub, small {
    font-size: 8px;
}

.essay {
    font-family: klavika-web, sans-serif;
    width: 620px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

@mixin dimension($name, $color) {
    circle.#{$name}, tspan.#{$name}, text.#{$name}, .component.#{$name} rect
    {
        fill: $color;
    }

    line.#{$name} {
        stroke: $color;
    }

    span.#{$name} {
        color: $color;
    }
}

@include dimension("x1", #c03000);
@include dimension("x2", #a74697);
@include dimension("y1", #3080f0);
@include dimension("y2", #30a0b0);
@include dimension("param", #aaa);

.component{
    &.inactive {
        rect{
            fill: #e2e2e2;
            stroke: #999;
        }
        text {
            fill: #555;
        }
    }

    &.mOffDiag {
        fill: #c2c2c2;
    }

    &.b {
        fill: #888;
    }

    &.point {
        cursor: pointer;
        fill: rgb(5, 215, 0);
    }

    &.vector {
        cursor: pointer;
        fill: rgb(5, 215, 0); // TODO: pick another color
    }
}

#draggerRot {
    cursor: move;
    line {
        shape-rendering: geometricPrecision;
    }
}

#draggerVert {
    cursor: ns-resize;
}

.draggerHoriz {
    cursor: ew-resize;
}

$dark-gray: #666666;
$negative-color: #356fc0;
#scalar-field .y1 {
    fill-opacity: 0.9;
    &.negative {
        fill: $negative-color;
    }
    &.current {
        fill-opacity: 1;
        stroke: $dark-gray;
        stroke-width: 2px;
    }
}

span.negative {
    color: $negative-color;
}

line.cover {
    fill: none;
    stroke-opacity: 0;
    stroke-width: 10;
}

rect.cover {
    opacity: 0;
}

path.brace {
    stroke: $dark-gray;
    stroke-width: 2px;
}

text.eq, text.plus, text.dot {
    font-size: 34px;
    fill: $dark-gray;
}

$svg_height: 500px;

.bg {
    width: 100%;
    height: $svg_height;
    background-color: #fafafa;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

svg {
    width: 100%;
    height: $svg_height;
}

