@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700|Poiret+One);
$typeface: noto sans, calibri, klavika, klavika-web, sans-serif;
$heading_typeface: poiret one, $typeface;

$dark-gray: #666666;

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #9b7fd4;
}

path, line {
  fill: none;
  stroke: $dark-gray;
  shape-rendering: crispEdges;
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

text {
    @include no-select;
    cursor: default;
    font-family: avenir, sans-serif;
    &.subheading {
        font-family: $heading_typeface;
        font-size: 18px;
    }
    not &.draggerHoriz {
        cursor: default;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

tspan.sub, small {
    font-size: 8px;
}

@mixin centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.essay {
    font-family: $typeface;
    font-size: 16px;
    width: 620px;
    @include centered;
    h1 {
        font-family: $heading_typeface;
        font-size: 32px;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: -4px;
    }
    h2 {
        font-family: $heading_typeface;
        font-size: 18px;
        font-weight: normal;
        margin-top: 0px;
    }
}

footer {
    border-top: 4px solid grey;
    background-color: #3a3535;
    padding: 20px;

    p {
        width: 700px;
        @include centered;
        font-family: $typeface;
        color: #efeff9;
        a {
          color: #a1a1aa;
        }
    }
}

@mixin dimension($name, $color) {
    circle.#{$name}, tspan.#{$name}, text.#{$name}, .component.#{$name} rect, path.#{$name}
    {
        fill: $color;
    }

    .component.#{$name}.stroked rect
    {
        stroke: darken($color, 10%);
        stroke-width: 2px;
    }

    line.#{$name} {
        stroke: $color;
    }

    span.#{$name} {
        color: $color;
    }
}

@include dimension("x1", #c03000);
@include dimension("x2", #85144b);
@include dimension("y1", #3080f0);
@include dimension("y2", #3596bd);
@include dimension("param", #aaa);

@include dimension("x3", #a74697);
@include dimension("y3", #45c5ef);

$y-color: #0d47a1;
@include dimension("y", $y-color);
.marker path, .marker line {
    stroke: none;
    shape-rendering: geometricPrecision;
}
line.y {
    shape-rendering: geometricPrecision;
}

$point-color: #FF851B;
$vector-color: #ECCC00;
@include dimension("point", $point-color);
@include dimension("vector", $vector-color);
a.point {
    color: $point-color;
}
a.vector {
    color: $vector-color;
}

.component{
    text {
        fill: white;
        text-anchor: middle;
        &.point{
            fill: $point-color;
        }
        &.vector{
            fill: $vector-color;
        }
    }

    &.x1, &.x2 {
        cursor: default;
    }

    &.inactive {
        rect{
            fill: #e2e2e2;
            stroke: #999;
        }
        text:not(.vector, .point) {
            fill: #555;
        }
    }

    &.mOffDiag {
        fill: #c2c2c2;
    }

    &.b {
        fill: #888;
    }

    &.point, &.vector {
        cursor: pointer;
    }
}

.base {
    fill: #888;
    &.current {
        fill: #000;
        stroke-width: 2px;
    }
}

.draggerRot {
    cursor: move;
    line {
        shape-rendering: geometricPrecision;
    }
}

.draggerVert {
    cursor: ns-resize;
}

.draggerHoriz {
    cursor: ew-resize;
}

$negative-color: #254e88;
#scalar-field .y1 {
    fill-opacity: 0.9;
    &.negative {
        fill: $negative-color;
    }
    &.current {
        fill-opacity: 1;
        stroke: $dark-gray;
        stroke-width: 2px;
    }
}

span.negative {
    color: $negative-color;
}

line.cover {
    fill: none;
    stroke-opacity: 0;
    stroke-width: 10;
}

rect.cover, path.cover {
    opacity: 0;
    fill: initial;
}

path.brace {
    stroke: $dark-gray;
    stroke-width: 2px;
}

text.eq, text.plus, text.dot {
    font-size: 34px;
    fill: $dark-gray;
}

text.zero {
    font-size: 12px;
    fill: $dark-gray;
}

$svg_height: 500px;

.bg {
    width: 100%;
    height: $svg_height;
    background-color: #fafafa;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

svg {
    width: 100%;
    height: $svg_height;

    &.header {
        height: 500px;
        position: absolute;
        display: block;
        z-index: -1;
    }

    &.footer {
        height: 30px;
        margin-top: -4px;
        margin-bottom: 20px;
    }

    &.heading {
        height: 100px;

        .connector {
            stroke-width: 2px;
            shape-rendering: geometricPrecision;
        }
    }
}

.mathbox {
    max-width: $svg-height;
    width: $svg-height;
    height: $svg-height;
    margin-left: 0px;
    border: 0;
    margin: 0;
    float: left;
}

