path, line {
  fill: none;
  stroke: #888;
  shape-rendering: crispEdges;
}

text {
    font-family: avenir, sans-serif;
}

#plot text {
    font-size: 12px;
}

text.label, tspan.label {
    text-anchor: end;
    font-size: 16px;
}

circle.x {
    fill: black;
}

circle.a {
    fill: blue;
}

line.a {
    stroke: blue;
}

#draggerRot {
    cursor: move;
}

#draggerVert {
    cursor: ns-resize;
}

line.cover {
    fill: none;
    stroke-opacity: 0;
    stroke-width: 10;
}

rect.cover {
    opacity: 0;
}

#draggerRot line {
    shape-rendering: geometricPrecision;
}
